body
  textarea#code 
  #buttons
    button#start_server Start Server
    button#stop_server Stop Server
    button#evaluate Evaluate
    button#stop_sound Stop Sound
    button#toggle_recording Toggle Recording
    button#restart_interpreter Restart Interpreter
    button#clear_output Clear output
  textarea#stdout 